@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src:  url("../fonts/Roboto-Regular.woff2"),
  url("../fonts/Roboto-Regular.woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-display: swap;
  src:  url("../fonts/Roboto-Medium.woff2"),
  url("../fonts/Roboto-Medium.woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-display: swap;
  src:  url("../fonts/Roboto-Bold.woff2"),
  url("../fonts/Roboto-Bold.woff");
}

@font-face {
  font-family: "Pt Serif";
  font-weight: 700;
  font-display: swap;
  src:  url("../fonts/PTSerif-Bold.woff2"),
  url("../fonts/PTSerif-Bold.woff");
}