@import "vars";
@import "fonts";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: $accent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
}

.header {
  background: url(../images/header-bg.jpg) no-repeat center;
  background-size: cover;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 49px;
}

.header__phone {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 700;
}

.header__phone-number {
  font-weight: 400;
  margin-left: 19px;
  padding: 12px 31px 13px;
  background-color: $brown;
  border-radius: 22px;
}

.menu {
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 15px;
  padding: 27px 0 24px;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  color: #fff;
}

.header__title {
  font-family: 'PT Serif', 'Georgia', serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: auto;
}

.header__desc {
  font-weight: 700;
  font-size: 20px;
  max-width: 420px;
  margin-bottom: 20px;
}

.header__btn {
  display: inline-block;
  color: #fff;
  padding: 19px 55px 20px;
  border-radius: 30px;
  background-color: #886239;
  margin-bottom: 20px;
}

.header__arrow {
  text-align: center;
  margin-bottom: 15px;
}

.direction {
  padding: 100px 0;
}

.direction__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.direction__img {
  display: block;
}

.direction__text {
  font-size: 16px;
  border: 1px solid #D9D9DE;
  border-top: none;
  padding: 10px 19px 14px;
}

.travel-info {
  background: url("../images/travel-info-bg.jpg") no-repeat center;
  padding: 30px 0 50px;
}

.travel-info__title {
  margin: 0 0 50px;
  color: #fff;
}

.travel-info__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 54px 67px;
}

.travel-info__img {
  margin-bottom: 15px;
}

.travel-info__text {
  color: #fff;
  font-size: 16px;
  line-height: 1.3;
}

.popular {
  padding: 100px 0;
}

.popular__title {
  margin-bottom: 40px;
}

.popular__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 32px;
  padding-bottom: 80px;
  border-bottom: 1px solid #D9D9DE;
}

.popular__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 256px;

  &:nth-child(1) {
    background: url("../images/popular-1.jpg");
  }

  &:nth-child(2) {
    background: url("../images/popular-2.jpg");
  }

  &:nth-child(3) {
    background: url("../images/popular-3.jpg");
    grid-column: span 2;
    grid-row: span 2;
  }

  &:nth-child(4) {
    background: url("../images/popular-4.jpg");
  }

  &:nth-child(5) {
    background: url("../images/popular-5.jpg");
  }

  &:nth-child(6) {
    background: url("../images/popular-6.jpg");
    grid-column: span 2;
    grid-row: span 2;
  }

  &:nth-child(7) {
    background: url("../images/popular-7.jpg");
  }

  &:nth-child(8) {
    background: url("../images/popular-8.jpg");
  }

  &:nth-child(9) {
    background: url("../images/popular-9.jpg");
  }

  &:nth-child(10) {
    background: url("../images/popular-10.jpg");
  }
}

.popular__link {
  height: 100%;
  padding: 16px 24px 19px;
  color: #fff;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular__item-title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;

  &--big {
    font-size: 24px;
  }
}

.popular__price {
  font-weight: 700;
  font-size: 16px;
  margin-top: auto;
}

.popular__country,
.popular__time {
  font-size: 16px;
  margin-bottom: 15px;
}

.map {
  padding-bottom: 100px;
}

.map__title {
  margin-bottom: 46px;
}

.about {
  padding-bottom: 100px;
}

.about__inner {
  display: grid;
  grid-template-columns: 448px 640px;
  grid-gap: 32px;
}

.about__title {
  text-align: left;
  margin-bottom: 25px;
}

.about__text {
  margin-bottom: 34px;
}

.about__link {
  text-decoration: underline;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.about__popup {
  background: url("../images/video-bg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}